:root {
  --bg-black: #1c1c1c;
  --color-gray: #3f3f3f;
  --color-white: white;
  --bg-gradient: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
  --color-darknes-gray: #666666;
  --color-red: rgb(255, 0, 0);
}

.modo-escuro { 
    --bg-black: #1c1c1c;
    --color-gray: #3f3f3f;
    --color-white: white;
    --bg-gradient: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
    --color-darknes-gray: #666666;
    --color-red: rgb(255, 0, 0);
    .hero {
        font-size: 10rem;
        color: var(--color-red);
    }
    .hero p{
        font-size: 3rem;
        color: var(--color-white);
    }
}

.modo-claro {
  --bg-black: #ffffff;
  --color-gray: #b3b3b3;
  --color-white: #485a69;
  --bg-gradient: linear-gradient(to top,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.3));
  --color-darknes-gray: #1a84db;
  --color-red: #2196f3;

  .header-page h1 {
    color: var(--bg-black);
  }

  .bg-image {
    background-image: url(../img/landing1.jpg);
  }

  .hero {
    font-size: 10rem;
    color: var(--color-red);
  }

  .hero p {
    font-size: 3rem;
    color: var(--bg-black);
  }
}

.modo-azul {
    --bg-black: #3b556e;
    --color-gray: #0f3764;
    --color-white: #ffffff;
    --bg-gradient: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
    --color-darknes-gray: #ecf0f3;
    --color-red: #0704d3d0;
    
    .header-page h1 {
        color: var(--color-darknes-gray);
    }
    .bg-image{
        background-image: url(../img/landing3.webp);
    }
    .hero{
        font-size: 10rem;
        color: var(--color-red);
    }
    .hero p{
        font-size: 3rem;
        color: var(--bg-black);
    }
}


* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Teko", sans-serif;
}

body {
  font-size: 1.6rem;
}

h1 span {
  color: var(--color-red);
}

h1,
h2 {
  font-weight: 400;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

a {
  font-size: 3rem;
  text-decoration: none;
  color: var(--color-white);
  transition: color 0.7s;
}

a:hover {
  color: var(--color-red);
}

#temas {
    display: flex;
    flex-direction: row;
    gap: 1.7rem;
}
#temas button.ativo svg {
    display: none; 
}
#temas button svg {
    display: inline-block;
}

#tema-claro {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--bg-black);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
#tema-claro svg {
    fill: rgb(196, 193, 193);
}

#tema-escuro {
height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--bg-black);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
#tema-escuro svg {
    fill: black;
}

#tema-azul {
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--bg-black);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
#tema-azul svg {
    fill: rgba(14, 79, 219, 0.945);
}


.secao1 {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
}

.bg-black {
  background-color: var(--bg-black);
}

.bg-gray {
  background-color: var(--color-gray);
}

.bg-image {
  background-image: var(--bg-gradient), url(../img/landing2.png);
}

.header-page {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  color: var(--color-white);
  font-size: 3rem;
}

.header-menu ul {
  display: flex;
  gap: 1rem;
}

.hero {
  min-height: calc(100vh - 10rem);
  display: flex;
  flex-direction: column;
  color: var(--color-white);
  align-items: center;
  justify-content: center;
}

.hero p {
  font-size: 2rem;
  max-width: 30%;
  text-align: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: 2.7rem;
  margin-top: 2rem;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: var(--color-red);
  color: var(--color-white);
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: transparent;
}

.tela-linha {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  gap: 2rem;
}

.texto-lado {
  flex: 1;
  color: var(--color-white);
  font-size: 2rem;
}

.texto-lado h3 {
  font-weight: 500;
  font-size: 2.8rem;
  color: var(--color-red);
  margin-bottom: 1rem;
}

.texto-lado p {
  width: 70%;
  font-size: 2.3rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.imagem-lado {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.foto {
  width: 70%;
  max-width: 500px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--color-darkness-gray);
}

.voltaraotopo {
  transition: all 0.25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 3em 3em 0;
  border-radius: 50%;
  padding: 0.25rem;
  width: 3rem;
  height: 4rem;
  background-color: black;
}

.bacground-form {
  background: var(--color-darknes-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-form {
  background-color: #ffffff;
  width: 80%;
  height: 50vw;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

.header-form {
  background: linear-gradient(90deg, var(--bg-black), var(--color-gray));
  padding: 10px;
  text-align: center;
  color: var(--color-white);
}

.espaco-formulario {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  padding: 18px;
}

.form-content {
  margin-bottom: 8px;
  padding-bottom: 18px;
  position: relative;
}

.form-content label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.form-content input {
  display: block;
  width: 100%;
  border-radius: 8px;
  padding: 8px;
  border: 2px solid var(--bg-black);
}

.form-content a {
  position: absolute;
  bottom: -8px;
  left: 0;
  color: var(--bg-black);
  visibility: hidden;
}

.container-form button {
  background-color: var(--color-darknes-gray);
  color: var(--color-white);
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  border: 0;
  font-size: 25px;
  font-family: teko;
  cursor: pointer;
}

.form-content.error input {
  border-color: var(--color-red);
}

.form-content.error a {
  color: var(--color-red);
  visibility: visible;
}
  .tela-slide{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-black);
& H2 {
  color: var(--color-white);
  font-size: 6rem;
  margin-top: 60px;
  margin-bottom: 2rem;
  text-align: center;
}
}

.slideshow-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow: hidden;
  height: 100vh;
  width: 75%;
}

.mySlides {
  width: 85%;
  /* max-width: 800px; */
  object-fit: none;
  height: 90%;
  border: 4px solid #2196f3;
  border-radius: 10px;
  display: none;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0,0,0,0.6);
  position: absolute;
  transition: opacity 1s ease-in-out;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from { opacity: 0.4; }
  to   { opacity: 1; }
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.6);
  color: white;
  border: none;
  padding: 12px 18px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s;
  z-index: 1;
}

.nav-button:hover {
  background-color: rgba(33, 150, 243, 0.8);
}

.nav-button.left {
  left: 20px;
}

.nav-button.right {
  right: 20px;
}



footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: var(--bg-black);
  color: var(--color-white);
}

footer h4 {
  font-size: 3rem;
  font-weight: 200;
}

footer span {
  color: var(--color-red);
}
